<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.UnitVUnit"
                android:label="Unit vs Unit">
        </activity>
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.CreateAStatistic"
            android:label="Create A Statistic">
        </activity>
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.UnitDatabase"
            android:label="Unit Information Database">
        </activity>
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.AllInteractions"
            android:label="All Interactions">
        </activity>
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.appDescrip"
            android:theme="@style/AppTheme.AppDescripTheme">
        </activity>
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.popUpImage"
            android:theme="@style/AppTheme.AppDescripTheme">
        </activity>
        <activity android:name=".unitProfileMaker" />
        <activity
            android:name="com.Icantbelievedefaultisexample.nistic.starcraft2unitcollider.AllUnitsDB"
            android:label="All Units Information Database">
        </activity>

    </application>

</manifest>